body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

div.checklist {
	text-align: center;
	width: 665px ;
  	margin-left: auto ;
  	margin-right: auto ;
}

div.card a { 
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #036;
}

div.card img {
	padding-bottom: 5px;
}

div.card a:hover
{
	color: #fff;
	background-color: #369;
}

div.card {
	width: 200px;
	height: 410px;
	float:left;
	padding: 10px;
}